
.titulo-servicio{
    margin-top: -80px;   
    font-size: 26px;
    margin-bottom: 50px;
    text-align: center;
    color: white;      
}

.tabla-servicios{
    margin-top: -50px;   
    margin-bottom: 10px;   
}

.boton-agregar-servicio{
    margin-right: 325px;   
    margin-bottom: 135px; 
    margin-left: 80px; 
    margin-top: -800px; 
}