img {
    display: block;
    margin-left: 10px;
    margin-right: 0px;
    border-radius: 5px;
    height: 200px;    
}

.fila-1-img{ 
    margin-top: 85px; /* Ajustado al nuevo tamaño del header */
}

.servicio {
    transition: transform 0.3s ease;
}

.servicio:hover {
    transform: scale(1.05);
}

