img {
    
    
    display: block;
    margin-left: 10px;
    margin-right: 0px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(182, 5, 5, 0.2);
    height: 200px;    
}
.fila-1-img{ 
    margin-top: 0px;
    
}